# Хост приложения (нужно прописать в /etc/hosts: 127.0.0.1 laravel.docker.local)
APP_HOST=convertal.docker.local

# Путь внутри контейнера, куда docker-compose монтирует корень репозитория (./:${APP_PATH})
APP_PATH=/pub/www/app

APP_NAME=Convertal
APP_LOCALE=ru
APP_FALLBACK_LOCALE=en
APP_ENV=local
APP_KEY=base64:i0U1lu4eWxsh+z7BAmgSHpV1i9di5khacP3u8zinXLY=
APP_DEBUG=true
APP_URL=http://convertal.docker.local

# Доступы для СУБД (все поля обязательны):
# DB_CONNECTION — драйвер Eloquent. Допустимо: pgsql, mysql, mariadb, sqlite
DB_CONNECTION=mariadb
DB_HOST=database
# DB_PORT — порт СУБД (для PostgreSQL — 5432)
DB_PORT=3306
DB_DATABASE=laravel
DB_USERNAME=login
DB_PASSWORD=pass
DB_ROOT_PASSWORD=secret

# Если установить значение 1, то artisan schedule:run будет выполняться раз в минуту
# Если установить значение 0, то планировщик Laravel не будет выполняться
LARAVEL_CRON_ENABLED=0

# Если переменная MAILPIT_ENABLED задана, допустимы только значения 0 или 1
# Если значение 1, то mailpit будет перехватывать письма
# Если значение 0, то mailpit не будет перехватывать письма
# (контейнер mailpit обязательно нужен)
MAILPIT_ENABLED=0
MAILPIT_HOST=mailpit:1025
